<!DOCTYPE html>
<html lang="en">
<!-- webpack.config.js파일에서 handlebars-loader를 할필요가 없는 것 같다. 
 자체적으로 HtmlWebpackPlugin을 자동으로 dependency하는 것이 아닐까 추측해 본다. -->

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

</body>

</html>